In [1]:
import csv
import pandas as pd
import psycopg2

In [2]:
df = pd.read_csv(r'shedulers.csv', encoding='cp1251', sep=';')
df.head(10)

           ФИО Расписание Дата начала расписания Дата окончания расписания
0  Поставщик 1   дддвсвнн        01.01.2019 0:00           10.01.2019 0:00
1  Поставщик 1     ннвннв        11.01.2019 0:00           15.01.2019 0:00
2  Поставщик 1         св        16.01.2019 0:00           20.01.2019 0:00
3  Поставщик 2     свсвсв        01.01.2019 0:00           07.01.2019 0:00
4  Поставщик 2      днвсв        08.01.2019 0:00           14.01.2019 0:00
5  Поставщик 2    ннддвсв        15.01.2019 0:00           31.12.9999 0:00
6  Поставщик 3     нвнвнв        01.01.2019 0:00           01.02.2019 0:00
7  Поставщик 3   двдвдвдв        02.02.2019 0:00           31.12.9999 0:00

Создание подключения к БД Postgresql

In [3]:
try:
    conn = psycopg2.connect(database = "magnit", user = "vlad", password = "password", 
                            host = "localhost", port = "5432")
except:
    print("Нет возможности создать подключение")

In [4]:
cur = conn.cursor()

Запрос для создания таблицы T_CONTRACTOR_SHERULER

In [5]:
t_contractor_scheduler = """
CREATE TABLE T_CONTRACTOR_SHERULER (
    ID serial PRIMARY KEY, 
    ID_NAME integer,
    NAME character(30),
    SCHEDULE character(10),
    DATE_BEGIN timestamp with time zone NOT NULL,
    DATE_END timestamp with time zone NOT NULL,
    UNIQUE(NAME, DATE_BEGIN),
    CONSTRAINT valid_date CHECK (DATE_END > DATE_BEGIN));"""

In [6]:
cur.execute(t_contractor_scheduler)
conn.commit()

Заполнение таблицы T_CONTRACTOR_SHERULER

In [7]:
with open(r'shedulers.csv', encoding='cp1251') as f:
    reader = csv.reader(f, delimiter=";")
    next(reader)
    for row in reader:
        row.insert(0, row[0].split(" ")[1])
        cur.execute(
        "INSERT INTO T_CONTRACTOR_SHERULER(ID_NAME, NAME, SCHEDULE, DATE_BEGIN, DATE_END) VALUES(%s, %s, %s, %s, %s)",
        row
    )
conn.commit()

Запрос для создания таблицы T_CONTRACTOR_WORK_DAY

In [9]:
t_contractor_work_day = """
CREATE TABLE T_CONTRACTOR_WORK_DAY (
    ID serial PRIMARY KEY, 
    NAME character(30),
    DATE_BEGIN timestamp with time zone NOT NULL,
    DATE_END timestamp with time zone NOT NULL);"""

In [10]:
cur.execute(t_contractor_work_day)
conn.commit()

Расчёт рабочих дней для поставщиков по заданному расписанию

In [11]:
work_day = df.loc[:, ["ФИО", "Расписание", "Дата начала расписания", "Дата окончания расписания"]]
work_day.columns = ["NAME", "SCHEDULE", "DATE_BEGIN", "DATE_END"]

In [12]:
## Здесь я не очень понял наличие такой даты, т.к. в задании нет ограничений по времени,
## а при такой конечной дате например первый запрос в 4 задании не имеет смысла.
work_day.loc[work_day["DATE_END"] == "31.12.9999 0:00", "DATE_END"] = "31.12.2019 0:00"

In [13]:
work_day.loc[:, ["DATE_BEGIN", "DATE_END"]] = work_day.loc[:, ["DATE_BEGIN", "DATE_END"]]\
.apply(lambda x: pd.to_datetime(x, format="%d.%m.%Y %H:%M"))

In [14]:
import datetime

In [15]:
tbl_dict = {}
key = 0
for row in work_day.itertuples():
    contractor = row.NAME
    schedule = row.SCHEDULE
    date_start = row.DATE_BEGIN
    date_end = row.DATE_END
    date_range = pd.date_range(date_start, date_end)
    len_sch = len(schedule)
    for index, day in enumerate(date_range):
        smena = schedule[index%len_sch]
        if smena == "д":
            dt_s = day + datetime.timedelta(hours=8)
            dt_e = day + datetime.timedelta(hours=20)
            tbl_dict[key] = [contractor, dt_s, dt_e]
            key += 1
        elif smena == "в":
            continue
        elif smena == "н":
            dt_s = day + datetime.timedelta(hours=20)
            dt_e = day + datetime.timedelta(days=1, hours=8)
            tbl_dict[key] = [contractor, dt_s, dt_e]
            key += 1
        else:
            dt_s = day + datetime.timedelta(hours=8)
            dt_e = day + datetime.timedelta(days=1, hours=8)
            tbl_dict[key] = [contractor, dt_s, dt_e]
            key +=1

In [16]:
contractor_work_day = pd.DataFrame.from_dict(tbl_dict, orient="index", columns=["name", "date_begin", "date_end"])

Заполнение таблицы T_CONTRACTOR_WORK_DAY

In [17]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://vlad:password@localhost:5432/magnit')
contractor_work_day.to_sql('t_contractor_work_day', engine, if_exists="append", index=False)

458

In [18]:
from sqlalchemy import MetaData, func, select

In [19]:
meta = MetaData(bind=engine)
MetaData.reflect(meta)

In [20]:
WORK = meta.tables['t_contractor_work_day']

Задание 4. Запросы к БД

Сделать выборку содержащую сколько рабочих дней было у каждого поставщика

In [21]:
query1 = select([
    WORK.c.name,
    func.count(func.date_trunc('day', WORK.c.date_begin))
]).group_by(WORK.c.name)

In [23]:
engine.execute(query1).fetchall()

[('Поставщик 2                   ', 260),
 ('Поставщик 3                   ', 183),
 ('Поставщик 1                   ', 15)]

Сделать выборку поставщиков, у которыйх было больше 10 рабочих дней за январь 2019 года

In [24]:
query2 = select([
    WORK.c.name
]).where(WORK.c.date_begin <= "2019-01-31").group_by(WORK.c.name).having(func.count(WORK.c.date_begin) >= 10)

In [25]:
engine.execute(query2).fetchall()

[('Поставщик 2                   ',),
 ('Поставщик 3                   ',),
 ('Поставщик 1                   ',)]

Сделать выборку поставщиков, кто работал 14, 15 и 16 января 2019 года

In [26]:
query3 = select([
    WORK.c.name
]).where(WORK.c.date_begin.between("2019-01-14", "2019-01-17"))\
.group_by(WORK.c.name).having(func.count(WORK.c.date_begin) == 3)

In [27]:
engine.execute(query3).fetchall()

[('Поставщик 1                   ',), ('Поставщик 2                   ',)]

In [29]:
conn.close()